.page_cont{
	width: 100%;
	position: relative;
	.swiper-dots {
		display: flex;
		position: absolute;
		left: 35%;
		bottom: 70rpx;
		// width: 72upx;
		height: 36upx;
		background-size: 100% 100%;
		.bann_h{
			width: 80rpx;
			height: 8rpx;
			background-color: rgba(255,255,255,0.3);
		}
		.bann_h_act{
			width: 80rpx;
			height: 8rpx;
			background-color: rgba(0,0,0,0.6);
		}
		.num {
			width: 36upx;
			height: 36upx;
			border-radius: 50px;
			font-size: 24upx;
			color: #fff;
			text-align: center;
			line-height: 36upx;
		}
	
		.sign {
			position: absolute;
			top: 0;
			left: 50%;
			line-height: 36upx;
			font-size: 12upx;
			color: #fff;
			transform: translateX(-50%);
		}
	}
	.trumpet{
		width: 100%;height: 56rpx;line-height: 56rpx;padding-left: 20rpx;
		background-color: rgba(0, 85, 255, 0.4);
		position: absolute;left: 0;bottom: 0;color: #FFFFFF;display: flex;
		.swiper_three{
			height: 56rpx;width: 100%;margin-left: 1%;font-size: 26rpx;
		}
	}
}
.header{
	position: fixed;left: 0;top: 0;
	height: 140rpx;width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 999;
	border-bottom: solid 0.5upx #f6f6f6;
	padding: 40upx 30upx 0 30upx;
	//头部导航栏
	.city {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 20upx;
		position: relative;
		.city_a{
			width: 56rpx;height: 56rpx;border-radius: 50%;
		}
		.city_b{
			position: absolute;
			width: 80rpx;height: 80rpx;
			left: -19rpx;
			top: -24upx;
		}
	}
	.input-view {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		flex: 1;
		height: 60rpx;
		border-radius: 15px;
		padding: 0 15px;
		flex-wrap: nowrap;
		
		input{
			width: 70%;
			font-size: 26rpx;
		}
	}
	.rig{
		padding-left: 20upx;
		display: flex;
		align-items: center;
		font-size: 24rpx;
		.chat-icon{
			padding-right: 2upx;
		}
	}
}
.swiper{
	width: 100%;
	height: 700rpx;
	image{
		width: 100%;
		height: 100%;
	}
}
//实时金价
.inp_con{
		width: 100%;background-color: #f6f6f6;
		padding: 2% 3% 0 3%;
		.king_pic{
			background-color: white;
			border-radius: 10rpx;padding: 20rpx;
			.king_pic_a{
				display: flex;justify-content: space-between;align-items: center;
				.times{
					color: #999;line-height: 60rpx; font-size: 22rpx;
				}
			}
			.tabs{
				width: 100%;
				font-size: 20rpx;
				.swipers_d{
					height: 304rpx;
					overflow-y: scroll;
				}
				.scroll-Y{
					
				}
				.tabs_tr{
					display: flex;
					view{
						width: 20%;text-align: center;height: 58rpx;line-height: 58rpx;background-color: #fff0d7;
						margin: 2rpx;border-radius: 4rpx;
						text-overflow: ellipsis;
					}
				}
				.tabs_td{
					display: flex;
					view{
						width: 20%;text-align: center;height: 58rpx;line-height: 60rpx;background-color: #fffcf7;
						margin: 2rpx;border-radius: 4rpx;
						text-overflow: ellipsis;
					}
				}
			}
		}
		.nine_g{
			width: 100%;margin: 20rpx 0;border-radius: 10rpx;
			background-color: white;
			padding: 8rpx 16rpx;
			display: flex;flex-wrap: wrap;justify-content: space-between;
			.nine_g_child{
				width: 23%;
				height: 200rpx;
				margin-right: 1%;
				margin: 10rpx 1% 10rpx 0;
				position: relative;
				image{
					width: 100%;height: 200rpx;position: absolute;left: 0;top: 0;
				}
				.nine_g_child_tit{
					width: 70%;text-align: center;
					position: absolute;left: 15%;top: 10%;
					z-index: 20;
					font-size: 26upx;
					white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
				}
				.nine_g_child_cla{
					width: 100%;text-align: center;color: #ccae70;
					position: absolute;left: 0;top: 30%;font-size: 18rpx;
					z-index: 20;
					white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
				}
			}
		}
		/* 秒杀专区 */
		.seckill-section{
			padding: 10upx 3%;;border-radius: 10rpx;
			background: #fff;
			.s-header{
				display:flex;
				align-items:center;justify-content: space-between;
				height: 90upx;
				.s-header_a{
					display: flex;
					align-items: center;
				}
				.s-img{
					width: 120rpx;height: 20rpx;margin-right: 20px;margin-top: 6rpx;
				}
				.s-header_child{
					
					.tip{
						font-size: 30rpx;
						color: pink;
						margin: 0 20upx 0 40upx;
					}
					.timer{
						display:inline-block;
						padding: 2upx 10rpx;
						text-align:center;
						margin-right: 14upx;
						font-size: 22rpx;
						color: white;
						border-radius: 2px;
						background-color: #2d407a;
						border-radius: 10upx 10upx 10upx 0;
					}
				}
				
			}
			.floor-list{
				white-space: nowrap;
				.scoll-wrapper{
					display:flex;width: 100%;
					.floor-item{
						width: 25%;
						margin-right: 20upx;
						font-size: 30rpx;
						text-align: center;
						image{
							width: 122upx;
							height: 122upx;
							border-radius: 4upx;
						}
						.title{
							font-size: 24rpx;color: #EB6177;font-weight: bold;
							white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
						}
						.price{
							color: #C1C1C0;
							text-decoration: line-through;font-size: 20rpx;
							white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
						}
					}
				}
			}
		}
		.seckill-section_mz{
			background-color: white;padding: 2% 3%;margin-top: 20rpx;;border-radius: 10rpx;width: 100%;
			position: relative;
			.swiper_two{
				height: 620rpx;
				.swiper_item_tit{
					padding: 10rpx 0;font-size: 28rpx;
					
				}
				image{
					width: 100%;height: 342rpx;border-radius: 10rpx;margin-top: 16rpx;
				}
				.swiper_item_cont{
					color: #999;font-size: 24rpx;
					height: 88rpx;line-height: 40rpx;overflow: hidden;text-overflow: ellipsis;
				}
			}
			.swiper-dots {
				position: absolute;
				left: 35%;
				bottom: 10rpx;display: flex;
				// width: 72upx;
				height: 36upx;
				background-size: 100% 100%;
				.bann_h{
					width: 70rpx;
					height: 6rpx;
					background-color: rgba(255,255,255,0.3);
				}
				.bann_h_act{
					width: 70rpx;
					height: 6rpx;
					background-color: rgba(0,0,0,0.6);
				}
				.num {
					width: 36upx;
					height: 36upx;
					border-radius: 50px;
					font-size: 24upx;
					color: #fff;
					text-align: center;
					line-height: 36upx;
				}
			
				.sign {
					position: absolute;
					top: 0;
					left: 50%;
					line-height: 36upx;
					font-size: 12upx;
					color: #fff;
					transform: translateX(-50%);
				}
			}
		}
		.choiceness{
			margin-top: 20rpx;padding: 80rpx 20rpx 0 20rpx;
			width: 100%;border-radius: 10rpx;height: 324upx;
			background-image: url(../../static/choiceness.png);
			background-size: 100% 100%;
			.choiceness_child{
				width: 100%;
				display: flex;justify-content: space-around;
				.choiceness_item{
					width: 23%;background-color: #fff8f2;border-radius: 10rpx;
					text-align: center;padding: 16rpx 0;
					image{
						width: 100rpx;height: 100rpx;
					}
					.item_tit{
						font-size: 26upx;
						line-height: 50rpx;
						color: #666;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
					}
					.item_cla{
						color: #999999;font-size: 20rpx;
					}
				}
			}
			
		}
	}